body {
    background-color: powderblue;
  }
  h1 {
    color: black;
  }
  p {
    color: darkslategray;
  }

  .image {
        position: absolute;
        top: 200px;
        right: 380px;
  }

  .paragraph {
    position: absolute;
    top: 700px;
    right: 380px;
}