body {
    background-color: powderblue;
  }
  h1 {
    color: black;
  }
  p {
    color: darkslategray;
  }

  .image {
        position: absolute;
        top: 50px;
        right: 400;
        width: 200px;
        height: 100px;
  }